@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Titillium+Web:wght@300;700&display=swap');

html, body {
  font-family: 'Hind Siliguri', sans-serif;
  height: 100%;
  font-size: 16px;
}

